@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h2>@ViewBag.Title.</h2>
<hr />
<div>
    <p>
        Confirmacion de Cuenta Exitosa. Porfavor @Html.ActionLink("haga click sobre este link para Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
