@model SINU.ViewModels.IDPersonaVM
<h5>1°- “CERTIFICADO ANTECEDENTES PENALES”</h5>
<p>
    Otorgado por el Registro Nacional de Reincidencia, dependiente del Ministerio de
    Justicia y Derechos Humanos. (NO Constancia Policial). Tener presente que este
    documento tiene una validez de SEIS (6) meses y es un <b>“requisito condicionante”</b>,
    conforme a lo dispuesto en el Anexo A, Artículo 5 de la Ley Marco de Regulación del
    Empleo Público Nacional Nº 25.164.
</p>

<div class="container text-center">
    @Html.ActionLink("Ver Formulario", "DocPenal", "Delegacion", new { id = Model.ID_PER ,docu = "Anexo2"}, new { @class = "btn btn-primary w-100 ", @target = "_blank"  })
</div>

<h5>2°- AUTORIZACIÓN PARA REQUERIR ANTECEDENTES PENALES (Judiciales y/o Policiales).</h5>
<p>
    Debera descargar el formulario e imprimirlo, rellenar con los datos que se solicitan en el mismo, firmar y aclarar.
    Para cargar el formulario, puede ser un archivo escaneado o una foto del mismo.
</p>
<div class="container text-center">
    @Html.ActionLink("Ver Formulario", "DocPenal", "Delegacion", new { id = Model.ID_PER,docu = "Certificado"  }, new { @class = "btn btn-primary w-100 ", @target = "_blank"  })
</div>
<br />
<br />

