
@{
    ViewBag.Title = "DataProblema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataProblema</h2>
<h1>
    @ViewBag.Nombre
</h1>
<h1>
    @ViewBag.Apellido
</h1>
<h1>
    @ViewBag.IdInscripcion
</h1>
