<!--    CUERPO DEL CORREO    -->

<p class="lead" style="font-family:'Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.6;margin:0;margin-bottom:10px;padding:0">
    Se ha generado el usuario @Model.Email cuyo password es <b style="color:blue">@Model.Password </b>
</p>
