<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Acerca de SINU";

    ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{
    @Html.Partial((String)@ViewBag.Menu);
}*@   
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<h1>@ViewBag.Title.</h1>
<h2> SINU - Sistema de Inscripcion Unificado</h2><br />
<div class="row">
    <div class="col-md-6" style="background-color:red">
        <div class="align-content-center">
            <img src="~/Imagenes/loader.png" class="d-block" alt="Ancla Armada Argentina" />
        </div>
    </div>
    <div class="col col-md-6"style="background-color:green">
            <p class="h4">El sistema de Inscripcion unificado, un sistema echo para solucionar la problematica de los gastos y costo te papeles</p>
            <p class="h4">esto es gracia que la inscripcion se va ha realizar de forma online y tambien debido al contexto de pandemia evitar  el movimiento de personas en las delegaciones</p>
    </div>
</div>

<h3>@ViewBag.Message</h3>



