<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Acerca de SINU";

    ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{
    @Html.Partial((String)@ViewBag.Menu);
}*@   
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<h1>@ViewBag.Title.</h1>
<h2> SINU - Sistema de Inscripcion Unificado</h2>
<h3>@ViewBag.Message</h3>



