<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Acerca de SINU";

    ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{
    @Html.Partial((String)@ViewBag.Menu);
}*@   
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
@*<h1>@ViewBag.Title.</h1>*@

<div class="row">
    <div class="col-md-6 text-center">
        <div class="text-center">
            <h2> SINU - Sistema de Inscripcion Unificado</h2>
            <img src="~/Imagenes/LogoARA.jpg" class="text-center" alt="Ancla Armada Argentina" />
        </div>
    </div>
    <div class="col col-md-6"><br />
        <table style="height:100%">
            <tbody>
                <tr>
                    <td class="align-middle">
                        <p class="h5 align-text-bottom">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante urna, rutrum ut faucibus a, efficitur quis mauris. Sed ullamcorper diam ante, quis accumsan erat pretium id. Nulla tristique at orci ut suscipit. Praesent vitae lacinia orci. Donec at dui nec mauris faucibus maximus lobortis non massa. Cras accumsan ultricies ipsum eu vestibulum. Suspendisse rhoncus eget enim vitae semper. Curabitur congue leo at leo eleifend, at elementum felis mattis.
                        </p><br />
                        <p class="h5 align-text-bottom">
                            Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam id mi gravida, rhoncus lacus ac, condimentum urna. Nullam mollis dapibus elit, quis pulvinar eros auctor pharetra. Nunc non condimentum nulla. Quisque ac enim eros. Ut aliquam laoreet arcu quis finibus. Quisque nec odio vitae urna ullamcorper semper in sit amet massa.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12 text-center">
        <p class="h4 font-weight-bold">Equipo de desarrollo</p>
        <p class="h5 font-weight-bold">Lider de proyecto:</p>
        <p>TNCPIN Rigonatto Sebastian</p>
        <p>AGCV Ottino Laura</p>
        <p class="h5 font-weight-bold">Desarrolladores:</p>
        <p>AGCV Van Houten German</p>
        <p>CPIN Morales Johanna</p>
        <p>CSIN Velasquez Emanuel</p>
        <p>CSIN Cayampi Cisneros Exequiel</p>
    </div>
</div>

<h3>@ViewBag.Message</h3>



