<!-- xxxxxxxxxxxx Debo indicar el TITLE de la pantalla y el MENUPERFIL correspondiente en todas las pantallas xxxxxxxxxxxxxx -->
@{
    ViewBag.Title = "Acerca de SINU";

    ViewBag.Menu = SINU.Models.Func.CorrespondeMenu();
}
@*@section MenuPerfil{
    @Html.Partial((String)@ViewBag.Menu);
}*@   
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<h1>@ViewBag.Title.</h1>
<h2> SINU - Sistema de Inscripcion Unificado</h2>
<p>El sistema de Inscripcion unificado, un sistema echo para solucionar la problematica de los gastos y costo te papeles</p>
<p>esto es gracia que la inscripcion se va ha realizar de forma online y tambien debido al contexto de pandemia evitar  el movimiento de personas en las delegaciones</p>
<p> </p>
<h3>@ViewBag.Message</h3>



