@model SINU.ViewModels.DocuAnexoVM


@using (Ajax.BeginForm("DocumentacionAnexo", "Postulante", null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "Exito(data,status,xhr)",
        OnFailure = "Falla",
        LoadingElementId = "carga",
//LoadingElementDuration = 1000,
//UpdateTargetId = "resultTarget"
},
    new { id = "BeginDocumentacionAnexo", enctype = "multipart/form-data" }))
{
    <h3>Documentacion Extra</h3>
    <h4 class="gris">Estos Documentos debera presentarlos personalmente en la Delegacion Correspondiente</h4>
    <div class="form-group">
        <div class="jumbotron mb-0 p-3 pl-5 pr-5 pt-4 " style="background-color: #08495f; color:white">
            @if (Model.docus.Count()>0)
            {
                foreach (var item in Model.docus)
                {
                    <div class="row">
                        <div class=" col col-sm-10 offset-sm-1" style="border-bottom:1px solid white">
                            <h6>
                                <b>@Html.Label(item.Tipo):</b><br />  @if ((bool)item.Presentado)
                                {
                                    <b style="color:green;">Entregado</b>
                                }
                                else
                                {
                                    <b style="color:red">No Entregado </b>
                                }
                            </h6>
                            <p> @item.Descripcion</p>
                        </div>
                    </div>
                    <br />
                }
            }
            else
            {
                <h5>
                    Debes elegir una Modalidad para ver los Documento requeridos para la misma.
                </h5>
            }

        </div>
    </div>
}
