@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

    <hgroup class="row justify-content-center">
        <h1 class="">Bloqueado.</h1>
        <hr />        <h2 class="text-danger"> @Model.Exception.Message</h2>
    </hgroup>
