.custom-combobox {
    position: relative !important;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-left: -1px !important;
    padding: 0 !important;
}

.custom-combobox-input {
    margin: 0 !important;
    padding: 5px 10px !important;
}

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
}
