@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 50rem !important;
    } 
    .rounded-nav .nav-link {
        border-radius: 50rem !important;
    }
    .ocultnav {
        display: none !important
    }
    .nav-tab {
        display: block !important;
        opacity:100 !important
    }
}

@media screen and (max-width: 576px) {
    .tabb {
        flex-wrap: nowrap !important;
    }

    .borderdiv1 {
        border-left: 0px none !important;
        padding-left: 15px !important;
    }

    .oculto {
        display: none !important
    }
    .tab-nav {
        display: block !important;
        opacity: 100 !important;
        border-bottom:1px solid #909090 !important
    }
   
}
@media (min-width: 768px) {
    .navbar1 {
        display:block;
        }
}

/*.oculto {
    display: block !important
}*/
/* With arrow tabs */

/*.with-arrow .nav-link.active {
    position: relative;
}

    .with-arrow .nav-link.active::after {
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #dee2e6;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }*/

/* lined tabs */

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    font-size:medium;
}

    .lined .nav-link:hover {
        border: none;
        border-bottom: 3px solid #dee2e6;
    }

    .lined .nav-link.active {
        font-size:large;
        background: none;
        color: #555;
        border-color: #ffffff;
    }

.atab {
    color: #ffffff !important;
}

.borderdiv1 {
    border-left: 1px solid #dee2e6 ;
    padding-top:1px;
    padding-left: 50px;
}


.bli {
    border-bottom: 1px solid #ffffff !important;
}
/*Para deshabilitar el uso del tab*/
.Tabdesabilitado a{
    pointer-events: none;
    color:#808080 !important

}

/*para ajutar el ancho de los controles que utilicen SELECTPICKER*/


.cambio {
    border-color: #de1919 !important;
}

    .cambio:focus {
        box-shadow: 0 0 0 0.2rem rgba(249, 3, 3, 0.25) !important;
    }




.navbar-toggler {
	background: none;
	border: none;
}

	.navbar-toggler:active,
	.navbar-toggler:focus {
		outline: 0;
	}

	.navbar-toggler .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		margin: 4px 0 4px 0;
		transition: all 0.2s;
	}

.navbar-dark .navbar-toggler .icon-bar {
	background: #ffffff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: translate3d(1px,0,0) rotate(-45deg);
    transform-origin: center center;
    width: 11px;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    transform: rotate(-90deg);
    transform-origin: center center;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: translate3d(0px,-14px,0) rotate(-135deg);
    transform-origin: right top;
    width: 11px;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0,0,0) rotate(0deg);
    width: 22px;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0,0,0) rotate(0deg);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0,0,0) rotate(0deg);
    width: 22px;
}
